body {
  font-family: sofia-pro, arial, sans-serif;
  margin: 0;
  background-color: #edf0e7;
  padding: 0;
  position: relative;
  height: 100%;
}

.h1 {
  font-size: 2rem;
  margin: 1rem;
}

h2 {
  font-size: 1.5rem;
  margin: 0.25rem 0;
}

h3 {
  margin-bottom: 6px;
}

/* OM MIG SIDAN */

.ommig-desktop-menu {
  width: 100%;
  grid-row: 1;
  grid-column: 2/4;
  grid-column-start: 2;
  grid-column-end: 4;
  height: 70px;
}

.ommig-desktop-menu a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  padding: 20px;
}

.ommig-desktop-menu a:hover {
  color: black;
  background-color: #b7c39f;
}

.menu__links {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

.mobil_menu {
  width: 32px;
  height: 32px;
  padding-top: 15px;
}

.logo {
  width: 200px;
  height: 30px;
  padding-top: 20px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  height: 70px;
}

.om-mig {
  /* height: 100%;
  flex-direction: column;
  align-items: flex-start;
  grid-column: 2/ 3;
  grid-column-start: 2; */
  grid-column-end: 3;
}

.kontakta-mig {
  width: 30vw;
  /* grid-column: 3/4;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row: 2;
  grid-row-start: 2;
  grid-row-end: auto; */
}

.rubrik {
  font-size: 32px;
  line-height: 119.2%;
}

.bildhanna {
  max-width: 400px;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.lista {
  list-style: none;
  padding-left: 0;
  font-size: 16px;
  line-height: 25px;
  margin-top: 4px;
}

.button {
  border: solid;
  border-color: #b7c39f;
  border-radius: 8px;
  color: black;
  padding: 8px 32px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
}

.button:hover {
  background-color: #b7c39f;
  color: black;
  transition: all 0.5s ease-out;
}

.utbildning {
  display: grid;
  grid-template-columns: 170px 1fr 190px;
}

.skola {
  position: relative;
}

.sida_ommig {
  display: grid;
  grid-template-columns: 64px 1fr 1fr 64px;
  margin-top: 30px;
  column-gap: 110px;
  row-gap: 40px;
  margin-bottom: 100px;
}

h4 {
  font-size: 16px;
  margin-bottom: 4px;
}

h5 {
  font-size: 16px;
  margin-bottom: 4px;
  margin-top: 4px;
}

p {
  font-size: 16px;
  line-height: 25px;
  margin-top: 0px;
}

.mail {
  text-decoration: none;
  color: black;
}

.mail:hover {
  color: black;
  text-decoration: underline;
}

.span {
  grid-column-end: 3;
  height: 30px;
}

/* STARTSIDA (INDEX) */
.menu_links {
  width: 305px;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

.atag {
  padding: 20px;
}

.projekt {
  display: grid;
  grid-template-columns: 132px 1fr 1fr 132px;
  grid-template-rows: 1fr 1fr;
  margin-top: 30px;
  margin-bottom: 50px;
}

#case-1 {
  background-image: url(img/komp/rssbild.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  grid-row: 2;
  grid-row-start: 2;
  grid-row-end: auto;
  grid-column: 2 / 3;
  grid-column-start: 2;
  grid-column-end: 3;
}

#case-2 {
  background-image: url(img/komp/shuubild.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  grid-row: 2;
  grid-row-start: 2;
  grid-row-end: auto;
  grid-column: 3 / 4;
  grid-column-start: 3;
  grid-column-end: 4;
}

#case-3 {
  background-image: url(img/komp/safetripbild.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  grid-row: 1;
  grid-row-start: 1;
  grid-row-end: auto;
  grid-column: 3 / 4;
  grid-column-start: 3;
  grid-column-end: 4;
}

#case-4 {
  background-image: url(img/komp/smoovebild.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  grid-row: 1;
  grid-row-start: 1;
  grid-row-end: auto;
  grid-column: 2 / 3;
  grid-column-start: 2;
  grid-column-end: 3;
}

.container {
  position: relative;
  height: 45vh;
  display: flex;
  justify-content: center;
  margin-left: 1.5vw;
  margin-bottom: 1.5vw;
}

section a {
  width: 50%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: black;
  transition: all 0.5s ease-out;
  text-decoration: none;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all 0.2s ease-out;
  background-color: #d2d9c3;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  font-family: sofia-pro, arial, sans-serif;
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  text-align: center;
}

div {
  display: block;
}

.projekt-desktop-menu {
  display: grid;
  grid-template-columns: 132px 1fr 132px;
  grid-template-rows: 70px 1fr;
  margin-top: 30px;
  margin-left: 1.5vw;
  margin-right: 1.5vw;
}

.projekt-desktop-menu {
  color: black;
  text-decoration: none;
  font-size: 18px;
}

.projekt-desktop-menu a:hover {
  color: black;
  background-color: #b7c39f;
}

nav {
  width: 100%;
  grid-row: 1;
  grid-row-start: 1;
  grid-row-end: auto;
  grid-column: 2 / 3;
  grid-column-start: 2;
  grid-column-end: 3;
  z-index: 2;
  display: block;
}

/* CASE SIDOR */

.hogerinfo {
  width: 30vw;
}

.safetrip-bilder {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 6%;
  margin-bottom: 10%;
}

.rss-logo {
  height: 49px;
  width: 200px;
  margin-top: 15px;
}

.shuu-logo {
  height: 100px;
  width: 100px;
  margin-bottom: 20px;
}

.smoove-logo {
  height: 26px;
  width: 160px;
  margin-top: 40px;
}

/* .case-sida {
  display: grid;
  grid-template-columns: 300px 1fr 300px;
  grid-template-rows: 70px 1fr;
  margin-top: 50px;
  position: relative;
} */

.sida_case {
  display: grid;
  grid-template-columns: 64px 1fr 1fr 64px;
  margin-top: 30px;
  column-gap: 110px;
  row-gap: 40px;
  margin-bottom: 0px;
}

.showreel {
  margin-top: 5%;
  margin-bottom: 5%;
  margin-right: 10%;
  margin-left: 10%;
}

.video {
  width: 100%;
  height: 100%;
}

/* FOOTER */

.footer {
  border-top: solid 3px #b7c39f;
  display: grid;
  height: 25vh;
  padding-right: 40vw;
  padding-left: 40vw;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  background-color: transparent;
}
/* MEDIA Q */

@media (min-width: 800px) {
  .mobil_menu {
    display: none;
  }
}

@media (max-width: 800px) {
  .menu__links {
    display: none;
  }

  .menu_links {
    display: none;
  }
  .text {
    font-size: 0;
  }
  .kontakta-mig {
    width: 100%;
    grid-column: 2/4;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row: 3;
    grid-row-start: 3;
    grid-row-end: auto;
  }

  .hogerinfo {
    width: 100%;
    grid-column: 2/4;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-end: auto;
  }

  .om-mig {
    grid-column: 2/4;
    grid-column-start: 2;
    grid-column-end: 4;
  }
}

@media (max-width: 1300px) {
  .sida_ommig {
    display: grid;
    grid-template-columns: 16px 1fr 1fr 16px;
    grid-template-rows: 70px 1fr;
    margin-top: 30px;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    column-gap: 40px;
    row-gap: 0px;
  }

  .utbildning {
    display: flex;
    gap: 20px;
  }

  .sida_case {
    display: grid;
    grid-template-columns: 16px 1fr 1fr 16px;
    margin-top: 30px;
    column-gap: 40px;
    row-gap: 20px;
    margin-bottom: 0px;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
  }
  .span {
    grid-column-end: 3;
    height: 46px;
  }
  .projekt {
    display: grid;
    grid-template-columns: 16px 1fr 1fr 24px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin-top: 30px;
    margin-bottom: 50px;
  }

  #case-1 {
    grid-row: 4;
    grid-row-start: 4;
    grid-row-end: auto;
    grid-column: 2/4;
    grid-column-start: 2;
    grid-column-end: 4;
  }

  #case-2 {
    grid-row: 3;
    grid-row-start: 3;
    grid-row-end: auto;
    grid-column: 2/4;
    grid-column-start: 2;
    grid-column-end: 4;
  }

  #case-3 {
    grid-row: 2;
    grid-row-start: 2;
    grid-row-end: auto;
    grid-column: 2/4;
    grid-column-start: 2;
    grid-column-end: 4;
  }

  #case-4 {
    grid-row: 1;
    grid-row-start: 1;
    grid-row-end: auto;
    grid-column: 2/4;
    grid-column-start: 2;
    grid-column-end: 4;
  }

  .projekt-desktop-menu {
    display: grid;
    grid-template-columns: 16px 1fr 16px;
    grid-template-rows: 70px 1fr;
    margin-top: 30px;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
  }
}

@media (max-width: 700px) {
  .sida_ommig {
    display: grid;
    grid-template-columns: 16px 1fr 1fr 16px;
    grid-template-rows: 70px 1fr;
    margin-top: 30px;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    column-gap: 20px;
    row-gap: 0px;
  }

  .sida_case {
    display: grid;
    grid-template-columns: 16px 1fr 1fr 16px;
    grid-template-rows: 70px 1fr;
    margin-top: 30px;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    column-gap: 20px;
    row-gap: 20px;
    margin-bottom: 0px;
  }

  .bildhanna {
    width: 100%;
    margin-right: 1.5vw;
    margin-top: 20px;
  }
}

@media (min-width: 1200px) {
  .utbildning {
    display: grid;
    grid-template-columns: 170px 0.06fr 190px;
  }

  .luft {
    margin-left: 26px;
  }
}
